{
  "plugins": [
    "transform-runtime"
  ],
  "presets": [
    ["babel-preset-es2015", { "modules": false }],
    "babel-preset-react",
    "babel-preset-stage-2"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
