.root {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 3px 8px;
  height: 24px;
  line-height: 22px;
  box-sizing: border-box;
  background: none;
  background-color: rgb(247, 247, 247);
  border: 1px solid #d1d3d4;
  color: rgb(60, 63, 70);
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  white-space: nowrap;
}

.root:disabled {
  cursor: not-allowed;
  background: none transparent;
}

.root:disabled > * {
  opacity: .5;
}
