.root {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 5px 0;
  white-space: nowrap;
}

.root:last-child {
  margin-right: 0;
}

/* TODO: remove all this child selector and tag selector stuff. */

.root > div > button {
  margin-right: 0;
  border-radius: 0;
}

.root > div > button:focus {
  position: relative;
  z-index: 1;
}

.root > div:first-child > button {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.root > div + div > button {
  border-left-width: 0;
}

.root > div:last-child > button {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
