@import "/css/normalize.css";

html {
  height: 100%;
}

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
}

body::before, body::after {
  content: "";
  display: table;
}

a {
  color: #00e;
}

.btn-row {
  font-size: 14px;
  text-align: right;
}

.label {
  display: inline-block;
  line-height: 18px;
  height: 30px;
  padding: 5px 15px;
  margin: 0 5px 0 0;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  line-height: 18px;
  height: 30px;
  padding: 5px 15px;
  margin: 0 5px 0 0;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 3px;
  background: linear-gradient(to bottom, #329ced 0, #168eea 100%);
  border: 1px solid #137dcf;
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.07);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.btn:last-child {
  margin: 0;
}

.editor-demo {
  width: 560px;
  margin: 10px auto;
}

.editor-demo .row {
  margin: 10px 0;
}

.editor-demo .radio-item {
  display: inline-block;
  margin-right: 10px;
}

.editor-demo .radio-item input {
  margin-right: 5px;
}

.editor-demo .source {
  display: block;
  margin: 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 13px;
  line-height: 18px;
  resize: none;
  white-space: pre;
  word-wrap: normal;
}

.editor-demo .react-rte-demo .public-DraftEditor-content {
  min-height: 110px;
}
