@import "/assets/css/normalize.css";
@import "/assets/css/react-rte.css";

html {
  height: 100%;
}

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
}

body::before, body::after {
  content: "";
  display: table;
}

a {
  color: #00e;
}

.editor-demo {
  width: 540px;
  margin: 10px auto;
}

.editor-demo .row {
  margin: 10px 0;
}

.editor-demo .radio-item {
  display: inline-block;
  margin-right: 10px;
}

.editor-demo .radio-item input {
  margin-right: 5px;
}

.editor-demo .source {
  display: block;
  margin: 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 13px;
  line-height: 18px;
  resize: none;
  white-space: pre;
  word-wrap: normal;
}
