@import "/assets/css/normalize.css";
@import "/assets/css/draft.css";

html {
  height: 100%;
}

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
}

body::before, body::after {
  content: "";
  display: table;
}

.example-container {
  width: 540px;
  margin: 10px auto;
}

.RichTextEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichTextEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichTextEditor-editor .public-DraftEditorPlaceholder-root,
.RichTextEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichTextEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichTextEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichTextEditor-editor .RichTextEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichTextEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichTextEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichTextEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
}

.RichTextEditor-activeButton {
  color: #5890ff;
}
