.ui-dropdown {
  display: inline-block;
  position: relative;
  line-height: 22px;
  border: 1px solid #999;
  border-radius: 2px;
}

.ui-dropdown::before {
  content: attr(title);
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: inherit;
  border: 4px solid transparent;
  border-right-width: 34px;
  border-left-width: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ui-dropdown select {
  position: relative;
  z-index: 2;
  display: inline-block;
  box-sizing: border-box;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 4px solid transparent;
  border-right-width: 10px;
  border-left-width: 5px;
  background: none transparent;
  opacity: 0;
  cursor: pointer;
}
